/* HomePage 전체 중앙 정렬 */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 16px;
  padding-bottom: 24px;

  padding-top: 0;
  margin-top: 0;
  box-sizing: border-box;
}

/* hearder (로그인/회원가입) */
.home-header {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  background-color: #3b82f6;
  top: 0;
  left: 0;
  z-index: 100;
}

.home-logo {
  width: 150px;
  height: 80px;
  margin: 10px;
}

.home-header button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.home-header button.login,
.home-header button.signup {
  background-color: #3b82f6;
  color: white;
  margin-right: 20px;
}

/* 카테고리 중앙 배치 */
.category-wrapper {
  width: 100%;
  z-index: 1;
  justify-content: center;
  margin-top: 80px;
}

/* 검색 결과 없을 때 */
.no-results {
  text-align: left;
  color: #666;
  margin-top: 40px;
}

/* 페이지네이션 style */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
  font-size: 14px;
}

.pagination button {
  border: 1px solid #d0d0d0;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
}

.page-number {
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 6px;
}
